<h1> <%= @question.title %> </h1>
<h5> created at: <%= @question.created_at %> </h5>
<h5> updated at: <%= @question.updated_at %> </h5>

<p>
  <%= @question.description %>
</p>

<%= link_to 'edit', edit_question_path(@question) %>

<h4>Answers:</h4>

<% unless @answers.nil? %>
<ul>  <% @answers.each do |answer| %>
  <li> <%= answer.description %> </li>
  <% end %>
</ul>
<% end %>

<%= render 'answers/form' %>
